#contenedor {

ancho: 1000px; altura: auto; margen: auto; posición: relativa;

}

cuerpo {

background-image: url(../img/fondo2.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h2 {

font-family: arial;
color: rgba (05,05,255,05); margen izquierdo: 20 px; tamaño de fuente: 30px; alinear texto: centro; margen derecho: 20px; }

h3 {font-family: arial; color blanco; margen izquierdo: 16px; tamaño de fuente: 20px; alineación de texto: derecha; margen derecho: 30px; }

encabezado {

width: 1000px;
height: 300px;
}

nav {

width: 985px;
height: 40px;
background: #F0B429;
border: solid;
border-color:#F0B429;

border-top-right-radius: 0;
border-top-left-radius-radius: 0;
}

iframe {margin-top: 75px; margen izquierdo: 613 px; margen derecho: 700 px; }

ul {

margin:auto;
padding-top: 4px;
}

li {

float: left;
list-style-type: none;
padding: 2px;
margin: 4px;
}

una{

text-decoration: none;
font-size: 20px;
color:#005883;
margin-left: 60px;
}

sección{

width:985px;
background-image: url(../img/fondo3.jpg);
height: 600px;
background-repeat: no-repeat;
background-size: cover;

border-top-right-radius: 0;
border-top-left-radius-radius: 0;
}

pie de página {ancho: 985px; altura: 100 px; fondo: # 005883; flotador izquierdo; margen superior: 20 px; radio de borde: 20px; radio de borde superior derecho: 0; radio de borde superior izquierdo: 0; margen inferior: 20px}

#lucero {

margen superior: 10px; margen izquierdo: 61 px; margen derecho: 100 px;

} #cesar {

margin-top:10px;
margen izquierdo: 30px; margen derecho: 90 px;

} pag{

font-family: arial;
height: 150px;
height: 150px;
background: #fff;
left:400px;
border-radius: 50px;
border-top-right-radius: 0;
border-top-left-radius: 0;
margin-bottom: 10px
color: rgba(255,255,255,255);
font-weight: bold;
}

pag{

 float: left;
font-family: arial;
height: 150px;
height: 150px;
background: #fff;
left:400px;
border-radius: 50px;
border-top-right-radius: 0;
border-top-left-radius: 0;
margin-bottom: 10px
color: rgba(255,255,255,255);
font-weight: bold;
}

pag{

 float: left;
font-family: arial;
height: 150px;
width:300px;
height: 150px;
background: #fff;
left:400px;
margin: 10px;
border-radius: 50px;
border-top-right-radius: 0;
border-top-left-radius: 0;
margin-bottom: 10px
color: rgba(255,255,255,255);
font-weight: bold;
}

.Negrita {color: rgba (255,255,255,255); peso de fuente: negrita;

}